# Environnement virtuel uv
.venv/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Cache ruff et pytest
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Fichiers système
.DS_Store

# Docs
note.md

# Modèles entraînés
*.zip

# Fichiers du mentor
p11_guide_4*
